@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-family: "Nunito", "sans-serif";
  }
}

@layer components {
  .icon-remove {
    @apply text-product cursor-pointer transition ease-out hover:text-base-900;
  }
  .icon-colored {
    @apply text-product cursor-pointer transition ease-out hover:scale-125;
  }
  .icon-colorless {
    @apply cursor-pointer transition ease-out hover:scale-125;
  }
  .icon-underlined {
    @apply text-product cursor-pointer transition ease-out hover:scale-125 border-b-2 border-product;
  }
  .icon-nohover-underlined {
    @apply text-product cursor-pointer transition ease-out border-b-2 border-product;
  }

  .center {
    @apply flex justify-center items-center;
  }

  .text-responsive {
    @apply text-xs sm:text-xs md:text-sm lg:text-md xl:text-md font-regular;
  }
  .header-responsive {
    @apply text-sm sm:text-sm md:text-md lg:text-lg xl:text-lg font-semibold;
  }
}

body {
  background-image: url(./assets/Background.svg);
  background-repeat: repeat;
  background-size: cover;
}
